/* Old code, we'll have to revamp it to deal with animation lists.
Useful to keep for now for memory's sake
body {
    background-color: rgba(232, 232, 232, 1);
}
h1 {
    text-align: center;
    color: rgba(20,20,20,1);
}
#title {
    margin: 40px;
}
.top-level-div{
    width:75%;
    max-width:1000px;
    margin: 0 auto;   
}
.left-column{
    position:relative;
    width:50%;
    left:0;    
}
.data-form{
    padding: 10px 5px 5px 5px;
    background-color:white;
    border: 1px solid rgba(0,0,0,.25);
}
.data-form > label{
    position: relative;
    display:inline-block;
    width: 90%;
    left:5%;
}    
.data-form > select{
    position:relative;
    display:inline-block;
    left:2.5%;
    width: 95%;
    height: 30px;
    border: 1px solid rgba(0,0,0,.25);
}
.text-input{
    all: unset;
    position:relative;
    display:inline-block;
    left:2.5%;
    width: 94%;
    background-color: white;
    height: 25px;
    border: 1px solid rgba(0,0,0,.25);
}
.submission-button{
    position: relative;
    width:50% !important;
    left:25%;
    margin-top:5px;
}
*/