<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Error! Code {{ code }}</title>
        {% include 'includes/global-header.html' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/templates/error.css') }}">
    </head>
    <body>
        <h1>Error!</h1>
        <h2>Code: {{ error_code }}</h2>
        <h3>Custom response: {{ unique_response_string }}</h3>
        <p>Error Description: {{ error_description }}</p>
        {% if countdown_duration is defined %}
        <h3>Redirecting in <span id="countdown-integer">{{ countdown_duration }}</span>...</h3>
        {% endif %}
        <script src="{{ url_for('static', filename='js/templates/error.js') }}"
                data-countdown-duration="{{ countdown_duration }}" data-redirect-link="{{ redirect_link }}"></script>
    </body>
</html>