<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>NuInfoSys</title>
        {% include 'includes/global-header.html' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/templates/index.css') }}">

    </head>
    <body>
        <h1>NuInfoSys</h1>
        <script src="{{ url_for('static', filename='js/templates/index.js') }}"></script>
        <!-- For now the site will be 100% functionality, 0% style -->
        <form class="data-form" method="post">
            <label for="text-input">Display Text:</label><br>
            <input type="text" id="text-input" name="text-input"><br>

            <label for="mode-input">Display Mode:</label><br>
            <select name="mode-input" id="mode-input">
                {% for item in mode_dict %}
                {% if item == "automode" and mode_input is not defined or item == mode_input %}
                <option value="{{item}}" selected>{{item}}</option>

                {% else %}
                <option value="{{item}}">{{item}}</option>
                {% endif %}
                {% endfor %}
            </select><br>

            <label for="color-input">Display Color:</label><br>
            <select name="color-input" id="color-input">
                {% for item in color_dict %}
                {% if item == "autocolor"%}
                <option value="{{item}}" selected>{{item}}</option>
                {% else %}
                <option value="{{item}}">{{item}}</option>
                {% endif %}
                {% endfor %}
            </select><br>

            <label for="pos-input">Display Position:</label><br>
            <select name="pos-input" id="pos-input">
                {% for item in position_dict %}
                {% if item == "fill"%}
                <option value="{{item}}" selected>{{item}}</option>
                {% else %}
                <option value="{{item}}">{{item}}</option>
                {% endif %}
                {% endfor %}
            </select><br>
            <button type="button" onclick="addAnimation">Add Animation</button>
            <input type="submit" class="submission-button" value="Submit Animations" name="Submit Animations">
        </form>
    </body>
</html>
